/* Map Page Specific Styles */

body {
  font-family: "Times New Roman", Times, sans-serif;
  line-height: 1.6;
  padding: 20px;
  background-color: #292929;
  color: #fff;
}

/* Navigation CSS */
nav {
	background-color: #333; /*Background Color of nav bar */
	overflow: hidden; /* Remove default list style */
	margin: 0;
	padding: 0; 
}

nav ul {
	list-style-type: none; /* Make list items float left to create horizontal layout */
}

nav li {
	float: left; /* Make list items float left to create a horizontal layout */
}

nav li a {
	display: block;
	color: white; /* Text Color */
	text-align: center;
	padding: 14px 16px; /* Padding for each navigation item */
	text-decoration: none;
}

/* Change appearance of links on hover */
nav li a:hover {
	background-color: #ddd; /* Background color on hover */
	color: black; /* Text color on hover */

#wrapper {
  width: 850px;
  height: 600px;
  background-color: #e8e8fb;
  margin:0 auto;
  overflow: hidden;
}

#canvas {
  width: 700px;
  height: 500px;
  background-color: #CCCCFF;
  margin: 30px auto;
}

/* Style for Google Maps Info Window */
.gm-style-iw {
    color: #000; /* Set text color to black */
}

/* Maps section */
.maps-section {
	box-shadow: 0em 0em 2em rgb (0, 0, 0);
}

#googleMap {
	height: 35em;
	width: 100%;
	display: inline-block;
}

.button {
	width: 12em;
	height: 6em;
	background-color: rgb(0, 0, 0);
	color: black;
	text-alighn: center;
	line-height: 6em;
	margin-left: 3em;
	margin-right: 3em;
	cursor: pointer;
	transition: background-color 0.3s;
	display: inline-block;
	border-redius: 1em;
}

.button:hover {
	background-color: #000000;
}

/* Button Section CSS */
section {
	background-color: #000000;
	padding: 1.5em;
	border-radius:1em;
	box-shadow: 0.5em, 0.5em, 2em, rgba(0, 0, 0, 0.7);
	margin: 3em auto;
	max-width: 70rem;
}

#prevBtn, #nextBtn {
    width: 12em;
    height: 6em;
    background-color: rgb(187, 127, 214);
    color: white;
    text-align: center;
    line-height: 6em;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 30%;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
    border-radius: 1em;
  }
